<div class="footer">
    <center>
        <%=data.processInfo%>
    </center>
    <center style="padding:20px;">
        &copy;2014-
        <%=data.year%> <a href="http://binaryops.ca/" target="_blank">BinaryOps&nbsp;Software</a>
        &nbsp;Built with &hearts; using TransomJS
    </center>
</div>
<hr />
<%=JSON.stringify(data)%>
</body>
</html>